
<div class="center">
  <div class="ear ear--left"></div>
  <div class="ear ear--right"></div>
  <div class="face">
    <div class="eyes">
      <div class="eye eye--left">
        <div class="glow"></div>
      </div>
      <div class="eye eye--right">
        <div class="glow"></div>
      </div>
    </div>
    <div class="nose">
      <svg width="38.161" height="22.03">
        <path d="M2.017 10.987Q-.563 7.513.157 4.754C.877 1.994 2.976.135 6.164.093 16.4-.04 22.293-.022 32.048.093c3.501.042 5.48 2.081 6.02 4.661q.54 2.579-2.051 6.233-8.612 10.979-16.664 11.043-8.053.063-17.336-11.043z" fill="#243946"></path>
      </svg>
      <div class="glow"></div>
    </div>
    <div class="mouth">
      <svg class="smile" viewBox="-2 -2 84 23" width="84" height="23">
        <path d="M0 0c3.76 9.279 9.69 18.98 26.712 19.238 17.022.258 10.72.258 28 0S75.959 9.182 79.987.161" fill="none" stroke-width="3" stroke-linecap="square" stroke-miterlimit="3"></path>
      </svg>
      <div class="mouth-hole"></div>
      <div class="tongue breath">
        <div class="tongue-top"></div>
        <div class="line"></div>
        <div class="median"></div>
      </div>
    </div>
  </div>
  <div class="hands">
    <div class="hand hand--left">
      <div class="finger">
        <div class="bone"></div>
        <div class="nail"></div>
      </div>
      <div class="finger">
        <div class="bone"></div>
        <div class="nail"></div>
      </div>
      <div class="finger">
        <div class="bone"></div>
        <div class="nail"></div>
      </div>
    </div>
    <div class="hand hand--right">
      <div class="finger">
        <div class="bone"></div>
        <div class="nail"></div>
      </div>
      <div class="finger">
        <div class="bone"></div>
        <div class="nail"></div>
      </div>
      <div class="finger">
        <div class="bone"></div>
        <div class="nail"></div>
      </div>
    </div>
  </div>
  <form class="login" [formGroup]="form">
    <label>
      <mat-form-field class="full-width">
        <mat-label>Usuario</mat-label>
        <input class="user_name" matInput placeholder="" formControlName="username" maxlength="50" minlength="5">
      </mat-form-field>
    </label>
    <label>
      <mat-form-field class="full-width">
        <mat-label>Contraseña</mat-label>
        <input class="password" matInput [type]="hide ? 'password' : 'text'" placeholder="" formControlName="password" maxlength="20">
        <button class="password-button" type="button" (click)="ShowHidePass()">{{ hide ? 'Mostrar' : 'Ocultar' }}</button>
      </mat-form-field>
    </label>
    <label class="err_login" *ngIf="msj_err"><span>{{ msj_err }}</span></label>
    <button class="login-button" type="button" (click)="login()">Iniciar Sesión</button>
    <div class="login-redes">
      <cs-mat-icon class="icon-redes" icon="facebook" size="35px" (click)="socialSignIn(_globals.RedesSociales.FACEBOOK)"></cs-mat-icon>
      <cs-mat-icon class="icon-redes" icon="google" size="35px" (click)="socialSignIn(_globals.RedesSociales.GOOGLE)"></cs-mat-icon>
    </div>
    <div class="cont-post-login">
      <P>¿Aún no tienes una cuenta?</P><a routerLink="/register">Registrate</a>
    </div>
  </form>
</div>