
<div class="theme ancaor general">
  <div class="cs-color-toolbar"></div>
  <div class="cs-wrapper">
    <div class="cs-content cs-wancho">
      <div class="cs-panel">
        <mat-card class="cs-width no-padding">
          <div *ngIf="showProgress"></div>
          <form [formGroup]="form">
            <div class="isLoading cs-input-full">
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput placeholder="" formControlName="username" maxlength="50" minlength="5">
                <mat-error *ngIf="username.errors">
                  <ng-container *ngIf="username.errors.required; else elseif1">Ingresa tu usuario</ng-container>
                  <ng-template #elseif1>
                    <ng-container *ngIf="username.errors.pattern; else elseif2">Caracteres incorrectos</ng-container>
                  </ng-template>
                  <ng-template #elseif2>
                    <ng-container *ngIf="username.errors.minlength; else elseif3">Ingresa mínimo 5 caracteres</ng-container>
                  </ng-template>
                  <ng-template #elseif3>
                    <ng-container *ngIf="username.errors.maxlength">Ingreso máximo de 50 caracteres</ng-container>
                  </ng-template>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="isLoading cs-input-full">
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="" formControlName="password" maxlength="20">
                <mat-error *ngIf="password.errors"><span *ngIf="password.errors.required">Ingresa tu contraseña</span><span *ngIf="password.errors.minlength">Ingresa mínimo {{ _globals.__MINLENGTH_PASS }} caracteres</span></mat-error>
              </mat-form-field>
            </div>
            <div class="isLoading md"><a>¿Has olvidado cómo ingresar?</a></div>
          </form>
          <div class="cs-action">
            <div class="isLoading gt-button">
              <button class="full-width" (click)="login()" mat-raised-button color="primary" [disabled]="!form.valid"> Ingresar</button>
            </div>
            <div class="cs-line">
              <div class="isLoading xl">O conectar con</div>
            </div>
          </div>
          <div class="cs-connect"></div>
        </mat-card>
      </div>
    </div>
  </div>
</div>