div.theme.ancaor.general
    div.cs-color-toolbar
    .cs-wrapper
        .cs-content.cs-wancho
            .cs-panel
                mat-card.cs-width.no-padding
                    div(*ngIf="showProgress")
                        //- mat-progress-bar.nino.loading(mode="indeterminate", color = "primary")
                    form([formGroup]="newUserForm")
                        .isLoading.cs-input-full
                            mat-form-field.full-width(appearance="fill")
                                //- mat-label Usuario o correo
                                mat-label Usuario
                                input(matInput, placeholder="", [value]="userCache?.email", formControlName="username", maxlength="50", minlength="5")
                                //- mat-error(*ngIf="newUserForm.controls['username'].errors")
                                //-     span(*ngIf="newUserForm.controls['username'].errors.required") Ingresa tu usuario
                                //-     span(*ngIf="newUserForm.controls['username'].errors.pattern") Caracteres incorrectos
                                //-     span(*ngIf="newUserForm.controls['username'].errors.minlength") Ingresa mínimo 5 caracteres
                                //-     span(*ngIf="newUserForm.controls['username'].errors.minlength") Ingreso máximo de 50 caracteres
                                mat-error(*ngIf="newUserForm.controls['username'].errors")
                                    ng-container(*ngIf="newUserForm.controls['username'].errors.required; else elseif1") Ingresa tu usuario
                                    ng-template(#elseif1)
                                        ng-container(*ngIf="newUserForm.controls['username'].errors.pattern; else elseif2") Caracteres incorrectos
                                    ng-template(#elseif2)
                                        ng-container(*ngIf="newUserForm.controls['username'].errors.minlength; else elseif3") Ingresa mínimo 5 caracteres
                                    ng-template(#elseif3)
                                        ng-container(*ngIf="newUserForm.controls['username'].errors.maxlength") Ingreso máximo de 50 caracteres
                        .isLoading.cs-input-full
                            mat-form-field.full-width(appearance="fill")
                                mat-label Contraseña
                                input(matInput, [type]="hide ? 'password' : 'text'", placeholder="", formControlName="password", maxlength="20")
                                //- cs-mat-icon.pointer.gray(matSuffix, (click)="hide = !hide", *ngIf="filter", [icono]="hide ? 'round_visibility' : 'round_visibility_off'")
                                mat-error(*ngIf="newUserForm.controls['password'].errors")
                                    span(*ngIf="newUserForm.controls['password'].errors.required") Ingresa tu contraseña
                                    span(*ngIf="newUserForm.controls['password'].errors.minlength") Ingresa mínimo {{ globals.__MINLENGTH_PASS }} caracteres
                            mat-hint(*ngIf="msj_error")
                                span.cs-error {{ msj_error }}

                        .isLoading.md
                            a ¿Has olvidado cómo ingresar?
                            //- mat-menu(#menu="matMenu")
                            //-     button(mat-menu-item, (click)="openFortgotUser('password')") ¿Has olvidado tu contraseña?
                                //- button(mat-menu-item, (click)="openFortgotUser('usuario')") ¿Has olvidado tu usuario?
                    .cs-action
                        .isLoading.gt-button
                            button.full-width((click)="login()", mat-raised-button, color="primary", [disabled]="!newUserForm.valid")  Ingresar

                        .cs-line
                            .isLoading.xl O conectar con

                    .cs-connect
                        //- .isLoading.gt-btn-icon.circle
                        //-     button( mat-icon-button, disabled)
                        //-         cs-mat-icon.mi-height-32.mi-width-32(icono="round_facebook_outline")
                        //- .isLoading.gt-btn-icon.circle
                        //-     button( mat-icon-button, disabled)
                        //-         cs-mat-icon.mi-height-32.mi-width-32(icono="round_google_outline")
                        //- .isLoading.gt-btn-icon.circle
                        //-     button( mat-icon-button, disabled)
                        //-         cs-mat-icon.mi-height-32.mi-width-32(icono="round_outlook_outline")
                        //- .isLoading.gt-btn-icon.circle
                        //-     button(mat-icon-button, disabled)
                        //-         img([src]="ICON_FACEBOOK")
                        //- .isLoading.gt-btn-icon.circle
                        //-     button(mat-icon-button, disabled)
                        //-         img([src]="ICON_GOOGLE")
                        //- .isLoading.gt-btn-icon.circle
                        //-     button(mat-icon-button, disabled)
                        //-         img([src]="ICON_OUTLOOK")