section.theme-ancaor(id="contenido")
	.content-section
		.division
			.flex-center(*ngIf="!filterData")
				mat-spinner(diameter="30")
			.card-productos(*ngIf="filterData")
				mat-list(*ngIf="filterData && filterData.length > 0")
					mat-list-item(*ngFor="let item of filterData")
						img.img-producto(matListAvatar, [src]="item?.imagen || 'no_image.png'", alt="")
						h4(mat-line) {{ item?.nombre }}
						p(mat-line) Precio {{item?.precio }}
						p(mat-line) {{item?.peso }}
						p(mat-line) Marca: {{item?.marca }}
						p(mat-line, [matTooltip]="item?.descripcion ? item?.descripcion : null ")  {{item?.descripcion ? item?.descripcion : '' }}
						span.cs-spacer
						a(mat-raised-button, [href]="item?.enlace", target="_blank") web
						button(mat-fab color="primary", (click)="deleteItem(item)")
							mat-icon remove
				h3(*ngIf="filterData && filterData.length == 0")  No se encontraron resultados
