app-cabecera.theme-ancaor
router-outlet
.footer
    .images
        img(src="./assets/images/banderas/peru.jpg", alt="")
        img(src="./assets/images/banderas/argentina.jpg", alt="")
        img(src="./assets/images/banderas/brasil.jpg", alt="")
    .text
        span Ingles | Español
//- ancaor-footer