@import './../../variables.scss';
app-cabecera {
    position: relative;
    width: 100%;
    top: 0;
    z-index: 1;
}
.footer {
    margin: 0;
    padding: 40px;
    padding-top: 60px;
    width: 100%;
    display: block;
    position: relative;
    bottom: 0;
    background: $primary;
    .images {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 4vw;
            padding: 4px;
        }
    }
    .text {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            color: white;
        }
    }
}