section.theme-ancaor.height-100(id="contenido")
	.notices.content-section
		//- h2.title-cont-notice NOTICIAS / CIENCIA Y TECNOLOGÍA
		.cont-notices
			mat-card.card-info
				mat-card-content.card-notice-content
					p Bienvenido a la web que se preocupa por tu mascota
				mat-card-actions