
<section class="theme-ancaor" id="contenido" [ngSwitch]="step">
  <div class="content-section" *ngSwitchCase="'0'">
    <h2>¿Cuentanos de tu mascota?</h2>
    <div class="continue">
      <button mat-fab color="primary" [disabled]="formDetail.invalid" (click)="formDetail.valid &amp;&amp; goToStep('1')">
        <mat-icon>send</mat-icon>
      </button>
    </div>
    <form class="division" [formGroup]="formDetail">
      <div class="top">
        <div class="content div1"><span>Alimentación</span>
          <div class="select">
            <mat-form-field class="full-width" appearance="fill" color="accent">
              <mat-select placeholder="Seleccione una opción" formControlName="feeding">
                <mat-option *ngFor="let list of data_opt?.feeding?.data" [value]="list.value">{{ list.desc }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="content div2"><span>Raza</span>
          <div class="select">
            <mat-form-field class="full-width" appearance="fill" color="accent">
              <mat-select placeholder="Seleccione una opción" formControlName="race">
                <mat-option *ngFor="let list of data_opt?.race?.data" [value]="list.value">{{ list.desc }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="top">
        <div class="content div3"><span>Tamaño</span>
          <div class="select">
            <mat-form-field class="full-width" appearance="fill" color="accent">
              <mat-select placeholder="Seleccione una opción" formControlName="size">
                <mat-option *ngFor="let list of data_opt?.size?.data" [value]="list.value">{{ list.desc }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="content div4"><span>Edad</span>
          <div class="select">
            <mat-form-field class="full-width" appearance="fill" color="accent">
              <mat-select placeholder="Seleccione una opción" formControlName="age">
                <mat-option *ngFor="let list of data_opt?.age?.data" [value]="list.value">{{ list.desc }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="content-section" *ngSwitchCase="'1'">
    <h2>Quiero recomendación por:</h2>
    <div class="back">
      <button mat-fab color="primary" (click)="goToStep('0')">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div class="continue">
      <button mat-fab color="primary" [disabled]="!sabor &amp;&amp; !beneficios" (click)="(sabor || beneficios) &amp;&amp; goToStep('2')">
        <mat-icon>send</mat-icon>
      </button>
    </div>
    <div class="division">
      <div class="card card__top" (click)="sabor = true;beneficios = false;"><img src="./assets/images/sabor.png" alt="" [ngClass]="{'color' : sabor }">
        <div class="text">
          <p>Sabor</p><img src="./assets/images/huella.png" alt="">
        </div>
      </div>
      <div class="card card__bottom" (click)="sabor = false;beneficios = true;"><img src="./assets/images/beneficios.png" alt="" [ngClass]="{'color' : beneficios }">
        <div class="text">
          <p>Beneficios</p><img src="./assets/images/huella.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="content-section" *ngSwitchCase="'2'">
    <h2>Elija el sabor</h2>
    <div class="back">
      <button mat-fab color="primary" (click)="goToStep('1')">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div class="continue">
      <button mat-fab color="primary" [disabled]="!sabor &amp;&amp; !beneficios" (click)="formDetail.valid &amp;&amp; goToStep('3')">
        <mat-icon>send</mat-icon>
      </button>
    </div>
    <div class="division">
      <div class="card-taste">
        <div class="taste-item" *ngFor="let item of tastes;">
          <p>{{ item.name }}</p><img [src]="item.imagen" alt="">
        </div>
      </div>
    </div>
  </div>
</section>