.portada
    img(src="/assets/img/logo/logo.png")
    a(routerLink="/") Masikuna
    .spacer
    span(routerLink="/login", *ngIf="!user")  Iniciar Sesión
    span(*ngIf="user")  {{user.nom_persona+' '+user.ape_pate_pers+' '+user.ape_mate_pers}}

//- .nav-body(id="cabecera")
//- 	ul.nav.nav-menu.flex.flex_center
//- 		a.item(routerLink="/", routerLinkActive="active", [routerLinkActiveOptions]="{exact: true}")
//- 			li INICIO
//- 		a.item(routerLink="/comparativa", routerLinkActive="active")
//- 			li COMPARATIVA
//- 		a.item
//- 			li NOSOTROS