@import './../../variables.scss';

.portada {
    width: 100%;
    background-image: url('/assets/img/portada_xl.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    height: 10vw;
    display: flex;
    align-items: center;
    padding: 20px;
    img {
        width: 60px;
    }
    a {
        padding: 10px;
        font-size: 24px;
        text-decoration: none;
        color: black;
        cursor: pointer !important;
    }
}
.nav-body{
    transition :height 0.2s linear, background 0.3s linear;
    height: 10vw;
    width: 100%;
    margin: 0 auto;
    padding: 14px;
    display: flex;
    justify-content: center;
    .nav {
        padding-left: 0px;
    }
    .nav > a  {
        width: 100%;
        align-self: center;
        padding: 10px;
        text-decoration: none;
        color: white;
        li {
            list-style: none;
        }
    }
    .active {
        text-decoration: underline !important;
    }
}

.login {
    cursor: pointer;
    background:$primary;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
