.portada
    img(src="/assets/img/logo/logo.png")
    a(routerLink="/") Masikuna
    .spacer
    span.login(routerLink="/login", *ngIf="!user")  Iniciar Sesión
    .user(*ngIf="user")
        span Bienvenido:
        p {{user.nom_persona+' '+user.ape_pate_pers }}
        button(mat-raised-button, color="primary", (click)="cerrarSesion()") Cerrar Sessión

//- .nav-body(id="cabecera")
//- 	ul.nav.nav-menu.flex.flex_center
//- 		a.item(routerLink="/", routerLinkActive="active", [routerLinkActiveOptions]="{exact: true}")
//- 			li INICIO
//- 		a.item(routerLink="/comparativa", routerLinkActive="active")
//- 			li COMPARATIVA
//- 		a.item
//- 			li NOSOTROS