@import './../../variables.scss';
@mixin div-icon {
    display: block;
    width: 150px;
    text-align: center;
    cursor: pointer;
}

#contenido {
    background: $primary;
    display: flex;
    .notices {
        width: 100vw;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 19vw;
        .title-cont-notice {
            color: white;
            text-align: center;
        }
        .cont-notices {
            display: flex;
            padding: 1vw;
            .card-info {
                padding: 3vw;
                box-shadow:none !important;
                width: 30vw;
                margin: 0 auto;
                .card-notice-content {
                    mat-form-field {
                        width: 100%;
                    }
                    display: block;
                    p {
                        width: 100%;
                    }
                    .img-notice {
                        width: 30%;
                        img {
                            width: 100%;
                        }
                    }
                }
                &:hover {
                    -webkit-box-shadow: 2px 5px 18px -1px rgba(0,0,0,0.75) !important;
                    -moz-box-shadow: 2px 5px 18px -1px rgba(0,0,0,0.75) !important;
                    box-shadow: 2px 5px 18px -1px rgba(0,0,0,0.75) !important;
                }
            }
        }
    }
}

.mat-form-field-flex {
    background: white !important;
}
.content-section {
    overflow: hidden;
    width: 100%;
    h2 {
        width: 100%;
        color: white;
        text-align: center;
    }
    .continue {
        position: absolute;
        right: 6vw;
    }
    .back {
        position: absolute;
        left: 6vw;
    }
    .division {
        width: 100%;
        .opt_filter {
            width: 40vw;
            background: white;
            border-radius: 10px;
            margin: 0 auto;
            height: 4vw;
            padding-bottom: 10px;
            margin-bottom: 20px;
            .opt_form {
                display: flex;
                .mat-form-field {
                    padding: 5px;
                }
            }
        }
        .top {
            display: flex;
            align-items: center;
            justify-content: center;
            .content {
                width: 20vw;
                height: 20vw;
                display: block;
                position: relative;
                background-size: cover;
                .select {
                    background: white;
                    height: 40px;
                    border-radius: 6px;
                    width: 15vw;
                    right: 2vw;
                    top: 13vw;
                    position: absolute;
                    mat-form-field {
                        width: 100%;
                    }
                }
                .span-content {
                    text-align: center;
                    width: 100%;
                    margin-top: 60px;
                    display: block;
                    // font-weight: bold;
                    font-size: 1.1rem;
                    color:white;
                    span {
                        border-radius: 6px;
                        padding: 2px;
                        background: $primary;
                    }
                }
            }
            .div1 {
                background-image: url('./../../../assets/images/food_pet.png');
                clip-path: circle(100% at 100% 100%);
                border-right-style: solid;
                border-bottom-style: solid;
                border-color: $primary;
                .span-content {
                    text-align: right;
                    margin-left: -30px;
                }
            }
            .div2 {
                background-image: url('./../../../assets/images/race_pet.jpg');
                clip-path: circle(100% at 0 100%);
                border-left-style: solid;
                border-bottom-style: solid;
                border-color: $primary;
                .select {
                    right: 3vw;
                }
                .span-content {
                    text-align: left;
                    margin-left: 30px;
                }
            }
            .div3 {
                background-image: url('./../../../assets/images/size_pet.png');
                clip-path: circle(100% at 100% 0);
                border-right-style: solid;
                border-top-style: solid;
                border-color: $primary;
                .select {
                    top: 8vw;
                }
            }
            .div4 {
                background-image: url('./../../../assets/images/age_pet.jpg');
                clip-path: circle(100% at 0 0);
                border-left-style: solid;
                border-top-style: solid;
                border-color: $primary;
                .select {
                    top: 8vw;
                    right: 3vw;
                }
                .span-content {
                    margin-left: -64px;
                }
            }
        }
        .card-custom {
            background: none;
            margin: 0;
            box-shadow: none;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            display: flex;
            img {
                max-width: 50vw;
                filter: grayscale(80%);
            }
            &__top {
                img {
                    border-radius: 20px 20px 0 0;
                }
            }
            &__bottom {
                img {
                    border-radius: 0 0 20px 20px;
                }
            }
            .text {
                margin-top: -50px;
                display: flex;
                padding: 10px;
                position: absolute;
                justify-content: center;
                align-items: center;
                // background: black;
                p {
                    margin: 10px;
                    color: brown;
                    font-size: 25px;
                }
                img {
                    width: 50px;
                    height: 40px;
                }
            }
        }
        .sabor {
            padding: 20px;
            display: flex;
            width: 80%;
            background: darkgray;
            margin: 0 auto;
            border-radius: 10px;
            .box {
                padding: 10px;
            }
        }

        .card-taste {
            min-height: 40vw;
            display: flex;
            padding-left: 80px;
            padding-right: 80px;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            .taste-item {
                padding: 40px;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                P {
                    color: white;
                }
                .content-check {
                    display: block;
                    position: relative;
                    img {
                        position: absolute;
                        width: 30px;
                        display: block;
                        top: 44px;
                        right: 0;
                        z-index: 5;
                        left: 53px;
                    }
                }
            }
            .enable {
                .icon {
                    width: 110px;
                    padding: 2px;
                    background: #fc3131;
                    border-radius: 50%;
                }
            }
            .disable {
                .icon {
                    width: 110px;
                    // padding: 4px;
                    background:transparent !important;
                    padding: 0 !important;
                    // border-radius: 50%;
                }
            }
        }
        .card-productos {
            min-height: 40vw;
            width: 60vw;
            background: white;
            /* padding-left: 50px; */
            margin: 0 auto;
            border-radius: 20px;
            h3 {
                text-align: center;
                padding: 30px;
            }
            .img-producto {
                width: 200px;
                height: 200px;
            }
        }
    }
    .color {
        filter: grayscale(0%) !important;
        padding: 4px;
        background: #fc3131;
        // border-radius: 50%;
    }
    .disable {
        img {
            filter: grayscale(80%);
        }
    }
}

.no-wrap {
    white-space: inherit !important;
}
.highlight {
    background-color:#FFFF99;
}