
<section class="theme-ancaor" id="contenido" [ngSwitch]="step">
  <div class="content-section" *ngSwitchCase="0">
    <h2>¿Cuentanos de tu mascota?</h2>
    <div class="continue">
      <button mat-fab color="primary" [disabled]="formDetail.invalid" (click)="formDetail.valid &amp;&amp; goToStep(1)">
        <mat-icon>send</mat-icon>
      </button>
    </div>
    <form class="division" [formGroup]="formDetail">
      <div class="top">
        <div class="content div1">
          <div class="span-content"><span>Alimentación</span></div>
          <div class="select">
            <mat-form-field class="full-width" appearance="fill" color="accent">
              <mat-select placeholder="Seleccione una opción" formControlName="feeding">
                <mat-option *ngFor="let list of data_opt?.feeding?.data" [value]="list.value">{{ list.desc }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="content div2">
          <div class="span-content"><span>Raza</span></div>
          <div class="select">
            <mat-form-field class="full-width" appearance="fill" color="accent">
              <mat-select placeholder="Seleccione una opción" formControlName="race">
                <mat-option *ngFor="let list of data_opt?.race?.data" [value]="list.value">{{ list.desc }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="top">
        <div class="content div3">
          <div class="span-content"><span>Tamaño</span></div>
          <div class="select">
            <mat-form-field class="full-width" appearance="fill" color="accent">
              <mat-select placeholder="Seleccione una opción" formControlName="size">
                <mat-option *ngFor="let list of data_opt?.size?.data" [value]="list.value">{{ list.desc }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="content div4">
          <div class="span-content"><span>Edad</span></div>
          <div class="select">
            <mat-form-field class="full-width" appearance="fill" color="accent">
              <mat-select placeholder="Seleccione una opción" formControlName="age">
                <mat-option *ngFor="let list of data_opt?.age?.data" [value]="list.value">{{ list.desc }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="content-section" *ngSwitchCase="1">
    <h2>Quiero recomendación por:</h2>
    <div class="back">
      <button mat-fab color="primary" (click)="goToStep(0)">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div class="continue">
      <button mat-fab color="primary" [disabled]="!type_reco" (click)="type_reco &amp;&amp; goToStep(type_reco)">
        <mat-icon>send</mat-icon>
      </button>
    </div>
    <div class="division">
      <div class="card card__top" (click)="type_reco = 2"><img src="./assets/images/sabor.png" alt="" [ngClass]="{'color' : type_reco == 2 }">
        <div class="text">
          <p>Sabor</p><img src="./assets/images/huella.png" alt="">
        </div>
      </div>
      <div class="card card" (click)="type_reco = 3"><img src="./assets/images/beneficios.png" alt="" [ngClass]="{'color' : type_reco == 3 }">
        <div class="text">
          <p>Beneficios</p><img src="./assets/images/huella.png" alt="">
        </div>
      </div>
      <div class="card card__bottom" (click)="type_reco = 4;"><img src="./assets/images/money.png" alt="" [ngClass]="{'color' : type_reco == 4 }">
        <div class="text">
          <p>Costos</p><img src="./assets/images/huella.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="content-section" *ngSwitchCase="2">
    <h2>Elija el sabor</h2>
    <div class="back">
      <button mat-fab color="primary" (click)="goToStep(1)">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div class="continue">
      <button mat-fab color="primary" [disabled]="tastesSelect()" (click)="!tastesSelect() &amp;&amp; resumeData()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
    <div class="division">
      <div class="card-taste" *ngIf="!tastes">
        <mat-spinner diameter="30"></mat-spinner>
      </div>
      <div class="card-taste" *ngIf="tastes">
        <div class="taste-item" *ngFor="let item of tastes;" (click)="item.enable = !item.enable" [ngClass]="{'disable' : !item.enable, 'enable' : item.enable}">
          <div class="content-check" *ngIf="item.enable"><img src="./assets/images/svg/check.svg" alt=""></div>
          <p>{{ item.desc_sabor }}</p><img class="icon" [src]="item.imagen" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="content-section" *ngSwitchCase="3">
    <h2>Elija el beneficio</h2>
    <div class="back">
      <button mat-fab color="primary" (click)="goToStep(1)">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div class="continue">
      <button mat-fab color="primary" [disabled]="beneficeSelect()" (click)="!beneficeSelect() &amp;&amp; dataBenefice()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
    <div class="division">
      <div class="card-taste" *ngIf="!benefice">
        <mat-spinner diameter="30"></mat-spinner>
      </div>
      <div class="card-taste" *ngIf="benefice">
        <div class="taste-item" *ngFor="let item of benefice;" (click)="item.enable = !item.enable" [ngClass]="{'disable' : !item.enable, 'enable' : item.enable}">
          <div class="content-check" *ngIf="item.enable"><img src="./assets/images/svg/check.svg" alt=""></div>
          <p>{{ item.desc_beneficio }}</p><img class="icon" [src]="item.imagen" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="content-section" *ngSwitchCase="4">
    <h2>Costo por beneficio</h2>
    <div class="back">
      <button mat-fab color="primary" (click)="goToStep(1)">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div class="continue">
      <button mat-fab color="primary" [disabled]="beneficeSelect()" (click)="!beneficeSelect() &amp;&amp; dataBenefice()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
    <div class="division">
      <div class="card-taste">
        <h2>Proximamente</h2>
      </div>
    </div>
  </div>
  <div class="content-section" *ngSwitchCase="5">
    <h2>Las mejores recomendaciones de sabor o beneficios según lo que seleccionó son:</h2>
    <div class="back">
      <button mat-fab color="primary" (click)="goToStep()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div class="continue"></div>
    <div class="division">
      <div class="flex-center" *ngIf="!filterData">
        <mat-spinner diameter="30"></mat-spinner>
      </div>
      <div class="flex-center opt_filter" *ngIf="filterData">
        <div class="opt_form">
          <mat-form-field class="full-width" appearance="fill" color="accent">
            <mat-label>Marca</mat-label>
            <mat-select placeholder="Seleccione una marca" [formControl]="mark" multiple>
              <mat-option *ngFor="let row of marcas" [value]="row">{{ row }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill" color="accent">
            <mat-label>Web</mat-label>
            <mat-select placeholder="Seleccione una web" [formControl]="web_site" multiple>
              <mat-option *ngFor="let row of webs" [value]="row">{{ row }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="card-productos" *ngIf="filterData">
        <mat-list *ngIf="filterData &amp;&amp; filterData.length &gt; 0">
          <mat-list-item *ngFor="let item of filterData"><img class="img-producto" matListAvatar [src]="item?.imagen || './assets/images/no_image.png'" alt="">
            <h4 mat-line><span *ngFor="let nom of item.arry_nombre" [class.highlight]="nom.flg_mark">{{ nom.desc }}</span></h4>
            <p mat-line>Precio {{item?.precio }}</p>
            <p mat-line>{{item?.peso }}</p>
            <p mat-line>Marca: {{item?.marca }}</p>
            <p mat-line>Web: {{item?.desc_site }}</p>
            <p class="no-wrap" mat-line [matTooltip]="item?.descripcion ? item?.descripcion : null "> {{item?.descripcion ? item?.descripcion : '' }}<span *ngFor="let nom of item.arry_descrip" [class.highlight]="nom.flg_mark">{{ nom.desc }}</span></p><span class="cs-spacer"></span><a *ngIf="item?.enlace" mat-raised-button [href]="item?.enlace" target="_blank">Visitar</a>
          </mat-list-item>
        </mat-list>
        <h3 *ngIf="filterData &amp;&amp; filterData.length == 0"> No se encontraron resultados</h3>
      </div>
    </div>
  </div>
</section>