@import './../../variables.scss';
@mixin div-icon {
    display: block;
    width: 150px;
    text-align: center;
    cursor: pointer;
}

#contenido {
    background: $primary;
    display: flex;
    .notices {
        width: 100vw;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 19vw;
        .title-cont-notice {
            color: white;
            text-align: center;
        }
        .cont-notices {
            display: flex;
            padding: 1vw;
            .card-info {
                padding: 3vw;
                box-shadow:none !important;
                width: 30vw;
                margin: 0 auto;
                .card-notice-content {
                    mat-form-field {
                        width: 100%;
                    }
                    display: block;
                    p {
                        width: 100%;
                    }
                    .img-notice {
                        width: 30%;
                        img {
                            width: 100%;
                        }
                    }
                }
                &:hover {
                    -webkit-box-shadow: 2px 5px 18px -1px rgba(0,0,0,0.75) !important;
                    -moz-box-shadow: 2px 5px 18px -1px rgba(0,0,0,0.75) !important;
                    box-shadow: 2px 5px 18px -1px rgba(0,0,0,0.75) !important;
                }
            }
        }
    }
}

.mat-form-field-flex {
    background: white !important;
}
.content-section {
    overflow: hidden;
    width: 100%;
    h2 {
        width: 100%;
        color: white;
        text-align: center;
    }
    .continue {
        position: absolute;
        right: 6vw;
    }
    .back {
        position: absolute;
        left: 6vw;
    }
    .division {
        width: 100%;
        .top {
            display: flex;
            align-items: center;
            justify-content: center;
            .content {
                width: 20vw;
                height: 20vw;
                display: block;
                position: relative;
                background-size: cover;
                .select {
                    background: white;
                    height: 40px;
                    border-radius: 6px;
                    width: 15vw;
                    right: 2vw;
                    top: 13vw;
                    position: absolute;
                    mat-form-field {
                        width: 100%;
                    }
                }
                span {
                    text-align: center;
                    width: 100%;
                    margin-top: 60px;
                    display: block;
                    font-weight: bold;
                    font-size: 1.1rem;
                }
            }
            .div1 {
                background-image: url('./../../../assets/images/food_pet.jpg');
                clip-path: circle(100% at 100% 100%);
                border-right-style: solid;
                border-bottom-style: solid;
                border-color: $primary;
                span {
                    text-align: right;
                    margin-left: -30px;
                }
            }
            .div2 {
                background-image: url('./../../../assets/images/race_pet.jpg');
                clip-path: circle(100% at 0 100%);
                border-left-style: solid;
                border-bottom-style: solid;
                border-color: $primary;
                .select {
                    right: 3vw;
                }
                span {
                    text-align: left;
                    margin-left: 30px;
                }
            }
            .div3 {
                background-image: url('./../../../assets/images/size_pet.png');
                clip-path: circle(100% at 100% 0);
                border-right-style: solid;
                border-top-style: solid;
                border-color: $primary;
                .select {
                    top: 8vw;
                }
            }
            .div4 {
                background-image: url('./../../../assets/images/age_pet.jpg');
                clip-path: circle(100% at 0 0);
                border-left-style: solid;
                border-top-style: solid;
                border-color: $primary;
                .select {
                    top: 8vw;
                    right: 3vw;
                }
            }
        }
        .card {
            cursor: pointer;
            align-items: center;
            justify-content: center;
            display: flex;
            img {
                max-width: 50vw;
                filter: grayscale(80%);
            }
            &__top {
                img {
                    border-radius: 20px 20px 0 0;
                }
            }
            &__bottom {
                img {
                    border-radius: 0 0 20px 20px;
                }
            }
            .text {
                display: flex;
                padding: 10px;
                position: absolute;
                justify-content: center;
                align-items: center;
                // background: black;
                p {
                    margin: 10px;
                    color: brown;
                    font-size: 25px;
                }
                img {
                    width: 50px;
                    height: 40px;
                }
            }
        }
        .sabor {
            padding: 20px;
            display: flex;
            width: 80%;
            background: darkgray;
            margin: 0 auto;
            border-radius: 10px;
            .box {
                padding: 10px;
            }
        }

        .card-taste {
            display: flex;
            padding-left: 80px;
            padding-right: 80px;
            justify-content: center;
            flex-wrap: wrap;
            .taste-item {
                padding: 20px;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                P {
                    color: white;
                }
                img {
                    width: 110px;

                }
            }
        }
    }
    .color {
        filter: grayscale(0%) !important;
    }
    .disable {
        img {
            filter: grayscale(80%);
        }
    }
}