section.theme-ancaor(id="contenido")
	.content-section
		h2 ¿Quién es tu engreido?
		.images
			img.cat(src="./assets/images/mascota2.png", alt="")
			img.food(src="./assets/images/food.png", alt="")
			img.dog(src="./assets/images/mascota1.png", alt="", routerLink="/comparativa", routerLinkActive="active")