
<div class="center">
  <h3>Ingrese sus datos</h3>
  <form class="login" [formGroup]="form">
    <label>
      <mat-form-field class="full-width">
        <mat-label>Apellidos</mat-label>
        <input matInput placeholder="" formControlName="apellidos" maxlength="50" minlength="5">
      </mat-form-field>
    </label>
    <label>
      <mat-form-field class="full-width">
        <mat-label>Nombres</mat-label>
        <input matInput placeholder="" formControlName="nom_persona" maxlength="50" minlength="5">
      </mat-form-field>
    </label>
    <label>
      <mat-form-field class="full-width">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="" formControlName="username" maxlength="50" minlength="5" required>
      </mat-form-field>
    </label>
    <label>
      <mat-form-field class="full-width">
        <mat-label>Contraseña</mat-label>
        <input class="password" matInput [type]="hide ? 'password' : 'text'" placeholder="" formControlName="password" maxlength="20">
        <button class="password-button">Mostrar</button>
      </mat-form-field>
    </label>
    <button class="login-button" (click)="register()">Registrarse</button>
    <div class="cont-post-login">
      <P>¿Ya tienes una cuenta?</P><a routerLink="/login">Iniciar Sesión</a>
    </div>
  </form>
</div>