app-cabecera.theme-ancaor(*ngIf="!is_admin")
router-outlet
.footer(*ngIf="!is_admin")
    .images
        img(src="./assets/images/banderas/peru.jpg", alt="")
        img(src="./assets/images/banderas/argentina.jpg", alt="")
        img(src="./assets/images/banderas/brasil.jpg", alt="")
    .text
        span Ingles | Español
//- ancaor-footer