
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'app/variables';
@import '~@angular/material/theming';

// font-family: 'K2D', sans-serif;
// font-family: 'Niramit', sans-serif;
// font-family: 'Ubuntu', sans-serif;

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #A6A6A6;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(30, 30, 30, 0.5);
}
// ::-webkit-scrollbar-button {
//     background-color: navy;
// }
// ::-webkit-scrollbar-corner {
//     background-color: black;
// }
html, body {
    min-height: 100%;
    height: 100%;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
    outline: none;
}

body {
    // background: url('/assets/img/fondos/water.png');
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    z-index: -1;
    max-width: 100%;
    font-family: 'Ubuntu', sans-serif;
}

app-root {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    display: block;
    height: 100%;
}

// Tipografia
$custom-typography: mat-typography-config(
    $font-family: 'PT Sans, sans-serif',
    $headline: mat-typography-level(32px, 48px, 700),
    $body-1: mat-typography-level(16px, 24px, 500)
);

$my-app-warn:    mat-palette($mat-deep-orange);
$theme-app-primary: mat-palette($mat-grey);
$theme-app-accent:  mat-palette($mat-grey, 700);
// The warn palette is optional (defaults to red).
$theme-app-warn:    mat-palette($mat-red);
$theme-app-theme: mat-light-theme($theme-app-primary, $theme-app-accent, $theme-app-warn);

@include angular-material-theme($theme-app-theme);
@include mat-core($custom-typography);

.theme-ancaor {
    $alternate-primary: mat-palette($mat-red, 700);
    $alternate-accent:  mat-palette($mat-indigo, 700);
    $alternate-warn:  mat-palette($mat-red, 700);
    $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent, $alternate-warn);
    @include angular-material-theme($alternate-theme);
    @include mat-core-theme($alternate-theme);
    @include mat-button-theme($alternate-theme);
    @include mat-checkbox-theme($alternate-theme);
    @include mat-select-theme($alternate-theme);
    @include mat-datepicker-theme($alternate-theme);
}

.theme-ancaor {
    .contenido {
        position: absolute;
        width: 100%;
        .row {
            padding: 10px;
            position: relative;
            display: flex;
            align-items: center;
            &_j_center {
                justify-content: center;
            }
            .title {
                color :white;
                text-align: center;
                margin-top: 10%;
            }
        }
    }
}

.mat-select-arrow-wrapper {
    display: flex !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0 .75em 0 .75em !important;
}
.mat-form-field-appearance-fill .mat-form-field-infix {
    border-top: .5em solid transparent!important;
    padding: .25em 0 .4em!important;
}
.mat-option {
    line-height: 3em;
    height: 2.4em !important;
}
.mat-select-value {
    font-size: 0.8em !important;
}
.mat-option-text {
    font-size: 0.9em !important;
}

section {
    padding: 60px
}
// @mixin md-icon-size($size: 24px) {
//     font-size: $size;
//     height: $size;
//     width: $size;
//     line-height: $size;
// }

// mat-icon {
//     @include md-icon-size(32px);
// }